.cart-count {
    position: absolute;
    background: #EA4242;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    right: -4px;
    top: -3px;
    text-align: center;
    color: #fff;
    font-size: 10px;
    z-index: 99;
}