.product-list-wrapper {
    width: 19%;
    float: left;
    margin: 0 5px;
}

@media screen and (max-width: 767px) {
    .product-list-wrapper {
        width: 50%;
        float: left;
        margin: 0;
        border-right: 1px solid rgba(0, 0, 0, 0.1);
        border-bottom: 1px solid rgba(0, 0, 0, 0.1);
        padding: 8px;
    }
}