<div class="products-wrappper">
    <div>
        <div class="product-list-wrapper" *ngFor="let product of finalProducts">
            <div class="product-img">
                <img src="../../assets/content/products/{{product.productImage}}" />
            </div>
            <div class="product-details">
                <h4 class="product-title">{{product.productName}}</h4>
                <span class="price">{{product.productPrice - (product.productPrice * (product.productDiscount / 100)) | currency:"INR"}}</span>
                <span class="discount-price">{{product.productPrice | currency:"INR"}}</span>
                <span class="discount">{{product.productDiscount}}%</span>
                <button type="button" (click)="addToCart(product)">Add To Cart</button>
            </div>
        </div>
    </div>
</div>